Question about numProbesToSend in timeout callback


https://github.com/lucas-clemente/quic-go/blob/990b1fed38306915b78b4f627f039e1cfee40546/internal/ackhandler/sent_packet_handler.go#L660
 h.numProbesToSend += 2

We know that
```
    // The number of PTO probe packets that should be sent.
    // Only applies to the application-data packet number space.
    numProbesToSend int
```
Can the number '2' replace with a number greater than or equal to 1? such as 3?




See section 6.2.4 of RFC 9002.