RoundTripper and Proxy

Hello, 

Thank you for your great project!

I wrote a client that will use the roundtripper and works fine. However, the computer on which I want to run the client has a system proxy configured. I tried something similar to how I would normally do it using the "net/http" library but I get an error that http3.roundTripper struct does't support the Proxy field.

Is there any way to do this?

What would the Proxy field do?

any update?

A note for others in here: some of this can be done with the current API (though it's a little cumbersome). Dropping a little extra info in here in case it can inform an implementation:

My motivation is that I need to use HTTP3 to create a CONNECT style proxy to another host. The behavior is described in section 4.4 of RFC9114: the CONNECT is sent over HTTP3 (and quic) and the proxy creates a TCP connection to the requested host and port, which can be used via the quic stream from the CONNECT request. None of that is important from the HTTP3 client perspective, just a little background.

I can do this for stdlib http requests by setting the Proxy and ProxyConnectHeader (for auth) fields; with those set, `http.Transport` will automatically issue the CONNECT request as it dials.

With `quic-go/http3` you can do something similar by writing a new http.RoundTripper. Its RoundTrip needs to:

* Create an `http3.RoundTripper` instance that overrides Dial to connect to the proxy host
* Create the desired CONNECT request
* RoundTripOpt that request using the http3 RoundTripper; you must set DontCloseRequestStream
* On success, extract the HTTPStream from the CONNECT response body
* Create a stdlib `http.Transport` instance that overrides Dial to return that HTTPStream; I wrapped it in a struct that stubs out RemoteAddr and LocalAddr so it can be a `net.Conn`
* Use that transport to RoundTrip the request you want to send to the destination server

My use case would be satisfied by adding a stdlib compatible `Proxy` and `ProxyConnectHeader` field to `http3.RoundTripper`, but all of the above would need to be added with them; likely in its Dial.

Fundamentally though this is a way to round trip an HTTP2 or 1.1 request using the HTTP3 connection; it's more of a compatibility bridge between `net/http` and `quic-go/http3` than a new way to get an HTTP3 request through. CONNECT-UDP may be an answer for that, but that's outside of my use case.

hi @kokes, do you have any code samples of your implementation? I'm looking to do the same thing.

Hi, snippets are as follows:

I create a bidirectional stream
```go
stream, err := quicConn.OpenStreamSync(...) // I have a pre-existing context
```

I then craft my headers and use `qpack.NewEncoder` from [qpack](https://pkg.go.dev/github.com/marten-seemann/qpack@v0.3.0) to encode this into a byte buffer.

```go
headers := []qpack.HeaderField{
    {Name: ":method", Value: method}, // CONNECT, most likely
    {Name: ":authority", Value: myurl.Host},
    // + auth
}
```

I then take this byte buffer and write a HEADERS frame [as specified in the HTTP/3 RFC](https://www.rfc-editor.org/rfc/rfc9114.html#name-headers).

```go
ln := len(payload) // payload being those qpacked headers

sett := bytes.NewBuffer(nil)
quicvarint.Write(sett, uint64(ftype)) // HEADER frameType = 0x01
quicvarint.Write(sett, uint64(ln))

stream.Write(append(sett.Bytes(), payload...)) // or write the payload into the buffer and then io.Copy from the buffer to the stream
```

I then read from the stream - first I expect HEADERS back, so I read the (quicvarint'ed) frame type. This should be HEADERS (0x01). Then it's a varint'ed length and then the byte array itself (of said length). I use `qpack.Decoder` to make sense of the contents.

```go
ftype, err := quicvarint.Read(r)
```

Once that's done, all the frames I'm receiving within this stream should be DATA (which you should check, anyway). It's again frame type, length and then the byte array of raw data being passed from the origin by your proxy (assuming it works as I expect it to).

You can either handle these DATA frames in a loop or create a struct that wraps your stream and implements `io.ReadWriter` by writing simple `Read` and `Write` methods that (un)pack those three parts of each frame - type, length, data. After all it's implemented [in this very repo](https://github.com/lucas-clemente/quic-go/blob/af30cef57c5c20ebcb599200a96d89f7c33c3d50/http3/http_stream.go).

If you also add methods for `LocalAddr`, `RemoteAddr` and a few deadline methods, you can satisfy the `net.Conn` interface and thus pass this struct around, specifically to `tls.Client`

```go
hostname := req.URL.Hostname()
decipheredWire := tls.Client(rawWire, &tls.Config{ServerName: hostname})
```

And once that is done, you can simply `req.Write(buffer)` and send this buffer into the deciphered wire and read the response using `http.ReadResponse`.

It's all a bit cumbersome, but doable. I implemented the same for an http2 CONNECT proxy, but didn't have to do any of these shenanigans, a simple `io.Pipe` worked fine over there, because we didn't have that control stream issue like we do here. Without that, the whole implementation would be super simple, just like Peter alluded to above.

I hope this helps.
