use a more efficient type for Connection IDs

The Connection ID is currently a `[]byte`: https://github.com/lucas-clemente/quic-go/blob/07412be8a02ef0e55580ebf8db9c38a759c0a0e5/internal/protocol/connection_id.go#L10-L11

This struct consumes 24 bytes for the slice (8 bytes for the pointer, the length and the capacity, respectively), plus the size of the underlying array.

Given that QUIC Connection IDs in all currently defined QUIC versions are limited to 20 bytes, we can use a simpler datastructure:
```go
type ConnectionID [21]byte
```
The first byte would be used to encode the length of the Connection ID (a uint8 is sufficient for that), and the next 20 bytes would contain the actual Connection ID.
This would have several advantages:
* cache locality: no need for a pointer, as we have in a byte slice
* can be allocated on the stack
* actually consumes less memory _in all cases_
* could be used as map keys

There's a slight complication, namely that the server needs to be able to handle packets with Connection IDs of up to 255 bytes, as future QUIC versions might allow for longer lengths, see [Section 5.3 of RFC 8999](https://datatracker.ietf.org/doc/html/rfc8999#section-5.3), to be able to send Version Negotiation packets. The hope is that we can keep this code path as separated as possible from the rest of the packet processing.

Actually, this can be further simplified:
```go
type ConnectionID struct {
	l uint8
	b [20]byte
}
```
This struct also only allocates 21 bytes, and has the additional advantage that it doesn't allow accidental casting of a byte slice.

@marten-seemann I would do:
```go
type ConnectionID struct {
	b [20]byte
	l uint8
}
```
As this allows to skip an `ADD PTR, 1` instruction when taking a reference to the array (which I guess is more common because the length would get proved from time to time, while you always would do the read).
It's probably very nit picky and probably don't even do anything on x86 (because `LEA` is such a god tier instruction).

This is commun practice to do so in similar cases, for example the golang slice declaration:
```go
type slice struct {
	array unsafe.Pointer
	len   int
	cap   int
}
```

I tried benchmarking this, but wasn't able to see the difference. I made the change anyway.