qlog: application error string representation

qlog defines an `ApplicationError`, which contains the string representation of an application error code.

[RFC 9000 section 20.2](https://datatracker.ietf.org/doc/html/rfc9000#section-20.2) defines:
> The management of application error codes is left to application protocols. Application protocol error codes are used for the RESET_STREAM frame ([Section 19.4](https://datatracker.ietf.org/doc/html/rfc9000#frame-reset-stream)), the STOP_SENDING frame ([Section 19.5](https://datatracker.ietf.org/doc/html/rfc9000#frame-stop-sending)), and the CONNECTION_CLOSE frame with a type of 0x1d ([Section 19.19](https://datatracker.ietf.org/doc/html/rfc9000#frame-connection-close)).

This means that two application protocols could, in principle, use the same error codes. And, in principle, someone could use quic-go and run both of these applications in the same binary. For the application this is not a problem, since ALPN handles negotiating of the application protocol